* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 100vh;
  margin: 20px;
}

#card {
  width: 300px;
  height: 400px;
  background-color: azure;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-style: dashed;
}
h2 {
  text-align: center;
}
p {
  font-size: 14px;
}
img {
  width: max-content;
  height: 250px;
  border-radius: 5px;
}
.moto {
  background: -webkit-linear-gradient(#ee7519, #e9bf03);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
