* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 700px;
  height: 400px;
  background-color: #2d123b;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  color: white;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 18px;
}

#time {
  font-size: 100px;
}

.buttons {
  display: flex;
  column-gap: 16px;
}

.buttons button {
  width: 130px;
  height: 40px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 9999px;
  column-gap: 16px;
  transition: all 0.2s ease-in;
}

button:hover {
  background-color: rgb(222, 130, 248);
  color: white;
}
