* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 700px;
  height: 400px;
  background-color: #2d123b;
  border-radius: 30px;
}

p {
  color: white;
}
